{% extends 'index.html' %}
{% block content %}

<div class="container-fluid">

    <div class="col-sm-12">
        <h1>Get Involved</h1>
    </div>

    <div class="row">
        <!-- Make a Donation and Contact Paragraph -->
        <div class="home-text col-sm-6">
            <h2>Contact Nicole Peach</h2>
            <p>If you would like to find out more about how we are planning to shape the future
                for our children, would like to know more about making a donation or if you feel
                as though you could make a difference in helping out with our campaign then feel
                free to contact us.</p>
            <br>

            <div class="col-sm-1"><p></p></div>

            <div class="col-sm-10">
                    <b class="pull-left">Landline:</b>  <div class="pull-right">+1-512-555-0120</div><br>
                    <b class="pull-left">Fax:</b>  <div class="pull-right">+1-512-555-0121</div><br>
                    <b class="pull-left">Cell Phone:</b>  <div class="pull-right">+1-(702)-555-4770</div><br>
                    <b class="pull-left">Email:</b> <div class="pull-right"><a href="mailto:info@texas.gov" style="color: #2a6496 !important;"> info@texas.gov</a></div>
                <br>
                <br>
            </div>

            <div class="col-sm-1"><p></p></div>
        </div>
        <!-- Make a Donation and Contact Paragraph -->

        <!-- Make a Donation Link -->
        <div class="col-sm-6">
            <div class="button-on-image">
                <img class="img-responsive graduation-pic" src="../static/images/graduation_sunset_picture.png" alt="Graduation picture">
                <div class="img-txt" style="position: absolute; top: 37px; bottom: 0; left: 0; right: 0; text-align: center; color: #fff">
                    <h2>Help Make a Difference:</h2>
                </div>
                <div class="img-btn">
                    <button class="btn btn-default" type="button"><a class="donation-button" href="https://www.donorschoose.org/donors/search.html?state=TX" target="_blank">Make Donation</a></button>
                </div>
            </div>
        </div>
        <!-- Make a Donation Link -->
    </div>

    <!-- Embedded Map -->
    <div class="col-sm-12">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d440899.73490213486!2d-98.03359109115286!3d30.30746242142474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b599a0cc032f%3A0x5d9b464bd469d57a!2sAustin%2C+TX%2C+USA!5e0!3m2!1sen!2suk!4v1500404043247" width="1140" height="400" frameborder="0" style="border:0; border-radius: 5px" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Embedded Map -->

</div>
{% endblock %}