{% extends "index.html" %}
{% block content %}

<div class="container-fluid">

    <!-- Main Heading -->
    <div class="col-sm-6">
        <h1 style="text-align: right;">Nicole Peach</h1>
        <h3 style="text-align: right;">for Governor of the State of</h3>
    </div>
    <div class="col-sm-6">
        <h1 class="main-heading">TEXAS</h1>
    </div>
    <!-- Main Heading -->

    <!-- Welcome Text & Town Image -->
    <div class="home-text col-sm-6" style="padding-top: 24px !important;">
        <h2>Welcome</h2>
        <p>I am Nicole Peach and I am running for governor of Texas.
        I have many plans for the Lone Star State, but one of my primary concerns
        is bettering the quality and accessibility of education in our state.
        One of the major factors contributing to my ability to do this is school donations.
        As such, I have created a means by which to view school donations in Texas as well
        as other states across the country.  This takes the form of a data dashboard which
        will serve in my mission to boost school donations should I be elected.
            <br><br><strong>Check the statistics:</strong></p>
        <button class="btn btn-primary" type="button"><a href="/statistics">Statistics</a></button>
    </div>

    <div class="col-sm-6">
        <img class="img-responsive texas-town" src="../static/images/texas_town.png" alt="A Town in Texas">
    </div>
    <!-- Welcome Text & Town Image-->

    <!-- Donations Condition Paragraph -->
    <div class="home-text col-sm-12">
        <h2>Current Donations Condition</h2>
        <p>School donations play a vital role in the education sector by supplementing state
            funding.  But, regrettably, the donations for the great state of Texas are far below
            the level we require for sustained progress.  While the current donations condition
            is not the worst in the country, it is not representative of the resources or size
            of Texas and is relatively lacking in comparison to that of other states.
            This dashboard aims to shed light on the current state of school donations in Texas
            by providing accessible data applicable to school donations across the country.
            Through this, we aim to justify our push for more funding with a view to raising the
            standard and availability of education in our great state. </p>
    </div>
    <!-- Donations Condition Paragraph -->

    <!-- Cowboy Image -->
    <div class="col-sm-6">
        <img class="img-responsive cowboy" src="../static/images/american_cowboy.png" alt="American Cowboy">
    </div>
    <!-- Cowboy Image -->
    <!-- Aim Paragraph -->
    <div class="home-text col-sm-6">
        <h2>Aim</h2>
        <p>School donations encompass various resources that extend further than monetary aids.
            These resources include books, supplies, resources, visitors, technology, etc.
            Our aim is to reach out to charitable individuals and organisations to expand these
            resources in all areas, which will allow us to improve education across the board.
            Through visualised data, we are able to depict the state of current resources and pinpoint
            the areas that need the most attention.
            <br><br><strong>Check the statistics:</strong></p>
            <button class="btn btn-primary" type="button"><a href="/statistics">Statistics</a></button>
    </div>
    <!-- Aim Paragraph -->

    <!-- Mission Paragraph -->
    <div class="home-text col-sm-12">
        <h2>Mission</h2>
        <p>Ours is a plea to the good people of Texas to help improve education in our state, but we understand
            that action begets action.  We cannot simply hope that donations improve without a concerted effort.
            As such, we have a two-phased approach towards improving the state’s school donations.
            Firstly, we intend to enlighten the people of the state through this data dashboard, thereby
            improving their knowledge of the situation.  Secondly, with increased donations as a result of the
            first phase, we intend to publicise the progress we make through real-time data visualisation.
            Through knowledge of the need for donations, as well as future knowledge of donations data, we are
            confident that we can positively boost the condition of Texas’ school donations and ensure a
            brighter future for our state’s youth.</p>
    </div>
    <!-- Mission Paragraph -->
</div>

{% endblock %}